/*.col-12{ 
    color: white;
    width: 50px;
}
*/

/*


img{
    max-width: 100%;
}

.gallery{
    padding: 30px;
}

.gallery img{
    cursor: pointer;
}

#gallery-modal .modal-img{
    width: 100%;
}
*/

footer{
    background-color: rgb(18, 17, 27);
    height: 50px;
    color: white;
    text-align: center;    
    padding-top: 15px;
}

/*
h3{
    color: white;
    text-align: center;   
}

.col-md-3{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;   
}

.gallery-item1{


}
*/

.col:hover{
    transform: scale(1.2);
}

col{
    transition: 2s;
}



.fa-brands:hover{
    background-color:  white;
    opacity: 30%;
}
.fa-brands{
    transition: 0.5s;
}

.tekst:hover{
    text-shadow: green;
    font-size: large;
    opacity: 30%;
}
.tekst{
    transition: 1s;
}


.container-fluid1{
    height: 500px;
    background-image: url(plain-48CCBA.svg);
    background-position: center;
    background-size: cover;
}

@media (max-width: 576px){
    .container-fluid1{
        height: 1050px;
    }
}

@media (max-width: 768px){
    .container-fluid1{
        height: 1200px;
    }
}

